table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    background-color: 'red'
}
tr > th {
    background-color: rgb(0, 51, 145);
    color: white;
}

th, td {
    padding: 15px;
}

td {
    max-width: 600px;  
    text-overflow: ellipsis;
    overflow:hidden ;
    white-space: nowrap;
}

#sandbox-host {
    overflow: auto !important;
    font-size: 10pt;
}

.removed-horizontal-lines {
    border-top: none;
    border-bottom: none;
}

.removed-vertical-lines {
    border-left: none;
    border-right: none;
}