table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    cursor: default;
}

td { 
    // max-width: 400px;
}

span { 
    display: inline-block;
    // min-width: 100px;
    // max-width: 200px;
}
tr > th {
    background-color: rgb(0, 51, 145);
    color: white;
    position: relative;
}

tr > th:hover {
    filter: brightness(99%)
}

th {
    padding: 5px;
}

thead {
    position: sticky;
    top: 0;
}

tbody > tr:hover {
    filter: brightness(85%);
}


td {
    padding: 15px;
}

td, th > span {
    max-width: auto;  
    text-overflow: ellipsis;
    overflow:hidden ;
    white-space: nowrap;
    // width: 400px;
}

#sandbox-host {
    overflow: auto !important;
    font-size: 10pt;
}


.removed-horizontal-lines {
    border-top: none;
    border-bottom: none;
}

.removed-vertical-lines {
    border-left: none;
    border-right: none;
}

.sort-by-asc
{
    position: absolute;
    bottom: 3px;
    left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 1 0px;
    background: transparent;
    border-bottom: solid 5px #fff;
    border-top-width: 0;
}

.sort-by-desc
{   
    position: absolute;
    bottom: 3px;
    left: 5px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 1 0px;
    background: transparent;
    border-top: solid 5px #fff;
    border-bottom-width: 0;
}